header {
  display: grid;
  place-items: center;
  font-family: shrikhand;
  font-size: 30px;
}

.location {
  display: flex;
  align-items: center;
  background-color: rgb(234, 234, 234);
  color: #353535;
  justify-content: center;
  height: 50px;
}
.location .fa-solid {
  color: #353535;
}
.location .location-text {
  font-size: 16px;
}

.footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
}

.footer-title {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
}
.footer-title h2 {
  font-size: 20px;
}

.footer-logo {
  display: flex;
  align-items: baseline;
  gap: 0.5em;
}
.footer-logo .fa-solid {
  color: white;
  margin-left: 0;
  margin-right: 8px;
  font-size: 13px;
}

footer a {
  color: white;
}

.footer ul {
  margin-left: -20px;
  margin-bottom: 0px;
  margin-top: -30px;
  line-height: 14px;
}

.footer h3 {
  font-weight: 400;
  font-size: 16px;
}

.restaurant {
  background-color: rgb(246, 246, 246);
}

.restaurant-title {
  margin-bottom: -45px;
}

.card-img img {
  object-fit: cover;
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0 0;
}

.cards {
  border-radius: 20px;
  box-shadow: 0 4px 8px 5px #aaa;
  margin: 1em;
  position: relative;
  background: #ffffff;
}

.card-img {
  display: flex;
}

.card-title {
  font-size: 18px;
  margin: 0 0 5px;
}

.card-subtitle {
  font-size: 16px;
  font-weight: 300;
}

.card-badge {
  color: #008766;
  background-color: rgb(153, 226, 208);
  border: 5px solid rgb(153, 226, 208);
  border-radius: 5px;
  padding: 6px 12px;
  position: absolute;
  top: 12px;
  right: 12px;
}

.card-footer {
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 15px;
}

.card-icon {
  font-size: 24px;
}

.btn-heart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-heart--solid {
  color: inherit;
  display: none;
}

.btn-heart:hover .btn-heart--solid {
  display: block;
}
.btn-heart:hover .btn-heart--outline {
  display: none;
}

.btn-heart .btn-heart--solid {
  display: none;
}
.btn-heart .btn-heart--outline {
  display: block;
}

body {
  margin: 0;
  padding: 0;
}

.banner {
  display: flex;
  font-size: 20px;
}
.banner .banner-arrow {
  margin-right: 70px;
}
.banner .banner-arrow .fa-solid {
  color: black;
}

.menu-pix img {
  width: 100%;
  object-fit: cover;
  height: 260px;
}

.container {
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
  position: relative;
  margin-top: -50px;
}
.container .container-banner {
  font-family: "shrikhand", cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: black;
  margin-right: 30px;
}

.menu-icon {
  font-size: 24px;
  margin-right: 20px;
}

.btn-heart {
  position: relative;
  display: flex;
  justify-content: center;
}
.btn-heart .btn-heart:hover {
  cursor: pointer;
}
.btn-heart .btn-heart:hover .btn-heart--outline {
  position: absolute;
}
.btn-heart .btn-heart:hover .btn-heart--solid {
  position: absolute;
  background: linear-gradient(180deg, #9356dc 0%, #ff79da 100%);
  background-clip: text;
  color: white;
  transform: scale(0);
}

.category-name {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  margin: 20px 0 22px 6px;
  content: "";
  text-decoration: underline;
  text-decoration: #99e2d0;
}

.choice-card {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: white;
  justify-content: space-between;
  border-radius: 15px;
  padding: 2px 15px 0px 20px;
  margin-bottom: 14px;
}
.choice-card .choice-card-txt .choice-card-txt-title {
  margin: 0 0 4px 0;
  font-size: 18px;
}
.choice-card .choice-card-txt .choice-card-txt-description {
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 300;
}
.choice-card .choice-card-price {
  font-size: 14px;
  font-weight: 700;
  color: black;
  margin-left: 15px;
  margin-bottom: 15px;
}
.choice-card .choice-card-check {
  position: absolute;
  background-color: #99e2d0;
  color: white;
  font-size: 20px;
  padding: 22.5px 20px;
  border-radius: 0 15px 15px 0;
  right: 0;
  display: none;
}
.choice-card .choice-card-check:hover {
  display: block;
}

.command {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.command-button {
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.07);
  color: white;
  border-radius: 50px;
  padding: 15.5px 48.5px;
  font-size: 18px;
  margin-bottom: 30px;
}

.li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

h2 {
  padding: 20px;
  font-size: 26px;
}

.nav {
  margin-left: 20px;
  margin-right: 20px;
}

.contenair {
  margin: auto;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.nav-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0;
}
.nav-btn li {
  border-radius: 25px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  height: 72px;
}
.nav-btn .nav-btn-ordered {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgb(246, 246, 246);
}
.nav-btn .fa-solid {
  margin-left: 30px;
  margin-right: 20px;
}
.nav-btn .fa-store {
  color: #9356DC;
}
.nav-btn span {
  padding: 5px;
}

.nav-number {
  background-color: #9356DC;
  color: white;
  width: 1em;
  text-align: center;
  border-radius: 50%;
  margin-left: -0.3em;
}

.fa-solid {
  color: grey;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 20px;
}

/**colors */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding: 0px 20px 50px;
}
.hero h2 {
  text-align: center;
}
.hero .hero-subtitle {
  text-align: center;
  font-weight: 350;
  margin-top: -15px;
  font-size: 18px;
}
.hero .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 25px;
  height: 50px;
  width: 218px;
  margin-top: 10px;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Shrikhand", cursive;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
