    .li {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
    }

    h2 {
        padding: 20px;
        font-size: 26px;
    }

    .nav {
        margin-left: 20px;
        margin-right: 20px;
    }

    .contenair {
        margin: auto;
        max-width: 1440px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .nav-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 0;

            li {
                border-radius: 25px;
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
                height: 72px;
            }
                .nav-btn-ordered {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    background-color: rgba(246, 246, 246, 1);
                }

                .fa-solid {
                    margin-left: 30px;
                    margin-right: 20px;
                }
                
                .fa-store {
                    color: #9356DC;
                }

                span {
                    padding: 5px;
                }
    }

    .nav-number {
        background-color: #9356DC;
        color: white;
        width: 1em;
        text-align: center;
        border-radius: 50%;
        margin-left: -0.3em;
    }

    .fa-solid {
        color: grey;
        margin-left: 1em;
        margin-right: 1em;
        font-size: 20px;
    }
