.nav {

}

    li {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        border-radius: 25px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        height: 72px;
    }

    h2 {
        padding: 20px;
        font-size: 24px;
    }

    nav-btn {
        display: flex;
        justify-content: space-between;
        padding-left: 0;
    }