footer {

}

.footer{
    background-color:#353535 ;
    color: white;
    display: flex;
    flex-direction: column;
}

.footer-title{
    font-family: 'Shrikhand', cursive;
    font-size: 18px;

        h2 {
            font-size: 20px;
        }
}

.footer-logo{
    display: flex;
    align-items: baseline;
    gap: 0.5em;

        .fa-solid {
            color: white;
            margin-left: 0;
            margin-right: 8px;
            font-size: 13px;
        }
}

footer a{
    color: white;
}

.footer ul{
    margin-left: -20px;
    margin-bottom: 0px;
    margin-top: -30px;
    line-height: 14px;
}

.footer h3{
    font-weight: 400;
    font-size: 16px;
}
