header {
    display: grid;
    place-items: center;
    font-family: shrikhand;
    font-size: 30px;
}

.location {
    display: flex;
    align-items: baseline;
    background-color: #eaeaea;
    color: #353535;
    justify-content: center;
    line-height: 4em;
    white-space: nowrap;

        .fa-solid {
            padding-right: 1em;
        }

}