@import "scss/header.scss";
@import "scss/footer.scss";
@import "scss/cards-restaurant.scss";
@import "scss/page.scss";
@import "scss/fonctionnement.scss";

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Shrikhand', cursive;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
